<header>
  <div class="header-wrap">
    <h1>Mini Message Board</h1>
    <ul class="nav_main">
      <li>
        <a href="/">Home</a>
        <a href="/sign-up">Sign up</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
      </li>
    </ul>
  </div>
</header>
