<% if (currentUser) {%>

<ul class="messages-list">
  <% messages.forEach((message) => { %>
  <li>
    <div class="message">
      <div>
        <h2><%= message.title %></h2>
        Published <%= (currentUser.s_member) ? message.date : 'Unknown' %> | By
        <%= (currentUser.s_member) ? message.username : 'Anonymous' %>
      </div>
      <p><%= message.content %></p>
      <br />
    </div>
  </li>
  <%}) %>
</ul>
<% } else { %>
<h1>Home</h1>
<p>Nothing to see here</p>
<p>Please login or sign up to view all messages</p>

<% } %>
